h1 {
    margin: 3%;
}


.url-area {
    width: 70%;
    display: inline-block;
    margin-left: 25px;
}
.number-area {
    width: 15%;
    display: inline-block;
    margin-left: 25px;
}

.add-area {
    width: 50%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.btn-left {
    width: 150px;
    margin-left: 60px;
}

.video-select {
    width: 20%;
    margin-left: 25px;
    display: inline-block;
}

.btn-delete-left {
    margin-left: 10px;
}